@charset "UTF8";

/*Mobile First*/
*{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
}

h1{
    background-image: url(imagens/energia.jpg);
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;  
}

body{
    background-image: linear-gradient(to top, lightblue, lightgray);
}

#calculadora{
    background-color: white;
    border: 2px solid black;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    line-height: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

img{
    max-width: 350px;
    max-height: 1500px;
    float: left;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.308);
}

#imgpot{
    display: inline-block;
}

#imgtar{
    display: inline-block;
}
#lampada{
    background-image: url(imagens/lampada.jpg);
    padding: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    
}

footer{
    padding: 20px;
}
a{
    text-decoration: none;
}

@media screen and (min-width: 992px){
            body{
                max-width: 1000px;
                margin: auto;
            }

            #imgpot{
                max-width: 700px;
            }
            
            #imgtar{
                max-width: 700px;}
    

            #calculadora{
                max-width: 700px;
            }

            h1{
                padding: 180px;
                max-width: 700px;
                margin: auto;
                background-position: center;
                border-radius: 10px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.336);
            }
}